In [27]:
import  pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt

In [21]:
d = pd.read_csv('Sales_add.csv')
d.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [22]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [23]:
d.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

No null values present in the data

In [24]:
d.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# 1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

Here 2 sample T test. n=22(n<30)

We need to assume null hypothesis and alternate hypothesis

Null hypothesis:Increase in sales after stepping into digital marketing

Alternate hypothesis: There is no increase in sales after stepping into the digital marketing

Assumed significance level is 0.05

In [25]:
sales_beforedigital = d['Sales_before_digital_add(in $)']
sales_afterdigital = d['Sales_After_digital_add(in $)']

In [28]:
tvalue, pvalue = stats.ttest_ind(sales_beforedigital,sales_afterdigital)

In [43]:
tvalue

3.050566893424036

In [44]:
pvalue

0.5493991051158094

In [29]:
stats.ttest_ind(sales_beforedigital,sales_afterdigital)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [30]:
critical_value=stats.t.ppf(1-0.05,22)
critical_value

1.717144374380242

In [31]:
if (tvalue>critical_value and pvalue < 0.05):
    print('There is no increase in sales after stepping into digital marketing')
else:
    print('There is increase in sales after stepping into digital marketing')

There is increase in sales after stepping into digital marketing

Here we rejected the alternate hypothesis since the p value>0.05

# 2.The company needs to check whether there is any dependency between the features “Region” and “Manager”

Null hypothesis: Region and manager are dependent

Alternate hypothesis: Region and manager are independent

In [33]:
d.groupby(['Region','Manager']).count()

                        Month  Sales_before_digital_add(in $)  \
Region     Manager
Region - A Manager - A      4                               4
           Manager - B      3                               3
           Manager - C      3                               3
Region - B Manager - A      4                               4
           Manager - B      1                               1
           Manager - C      2                               2
Region - C Manager - A      1                               1
           Manager - B      3                               3
           Manager - C      1                               1

                        Sales_After_digital_add(in $)
Region     Manager
Region - A Manager - A                              4
           Manager - B                              3
           Manager - C                              3
Region - B Manager - A                              4
           Manager - B                              1
           Manager - C                              2
Region - C Manager - A                              1
           Manager - B                              3
           Manager - C                              1

In [36]:
c = pd.crosstab(d["Region"], d["Manager"])
c

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [40]:
tvalue,pvalue,deg_f,ar = stats.chi2_contingency(c)

In [41]:
tvalue

3.050566893424036

In [42]:
pvalue

0.5493991051158094

In [47]:
critical_value=stats.chi2.ppf(1-0.05,4)

In [48]:
critical_value

9.487729036781154

In [51]:
if(t_value>critical_value and pvalue<0.05):
    print('Region and manager are dependent')
else:
    print('Region and manager are independent')

Region and manager are independent